{% extends 'myapp/base.html' %}

{% block content %}
<h1>Про пироги во вкусом</h1>
<p>Здесь расскажу про пироги!!!</p>
<p>Какие они?</p>
<ul>
    <li>Вкусные</li>
    <li>Обалденные</li>
    <li>Любимые</li>
</ul>
<a href="#section1">Карельские пирожки с картошкой («Калитки»)</a> <br>
<a href="#section2">Шарлотка</a>

<h2 id="section1">Карельские пирожки с картошкой («Калитки»)</h2>
<p>Калитки - это традиционная карельская вепсская выпечка.
Само название «калитки» — русское, к калитке или воротам, дверям не имеющее никакого отношения. Оно возникло случайно,
как звуковое искажение непонятного русским финского «калиттоа», «калитт».
Сами карелы называют их еще «рюпиттетю», что означает «морщинистые», «сборчатые», по внешнему виду их защипки, а
«калиттоа» можно перевести, как «намазанное», ибо начинку как бы намазывают на блинчик, или сканец, из которого делается
пирожок. <br> <br>
Таким образом, название этих национальных пирожков связано с тем, как их делают, с формой их приготовления.
А это говорит о большой древности калиток. Тот факт, что их приготавливают к тому же из пресного теста, указывает
совершенно определенно, что они существовали у карел задолго до крещения Руси, то есть, видимо, возникли в IX веке, а
быть может, и раньше. <br> <br>
Однако несмотря на седую древность, это изделие фактически вплоть до XX века не выходило за национальные пределы
Карелии, считаясь «деревенским» и «невкусным», поскольку сведения о его составе, прямо скажем, гурманов вовсе не
вдохновляли: пресное ржаное тесто с начинкой из перловки. <br> <br>
Кроме того, после выпечки калитки становятся жесткими, как железо, и, чтобы их съесть, необходимо их заново размачивать.
И это уж никак не умещалось в сознании русских людей, привыкших, что пироги из печи — это мягкие, пышные, благоухающие,
дразнящие запахом вкусной начинки. Которые после печного огня уже ни в какой последующей обработке не нуждаются.
Карельские женщины говорили: «Kalittoa — kyzyy kaheksoa», что означает «Калитка просит восьмёрки»: то есть чтобы испечь
калитки, нужно восемь компонентов: мука, вода, простокваша, соль, молоко, масло, сметана и начинка (картофель, крупа,
толокно). Калитки бывают различной формы: круглые, овальные, четырёх-, пяти-, шестиугольные и даже семиугольные. Края
либо защипывали, либо загибали на 4-7 углов. <br> <br>
Едят калитки садясъешь вокруг стола, у каждого пустая тарелка. В середине стола, глубокая миска или супница, в которую
вливают, по меньшей мере, литр-два горячего молока, а затем складывают в это молоко все приготовленные или намеченные
для трапезы калитки. К молоку нередко прибавляют еще и 50 — 100 г сливочного масла. Из этой масломолочной смеси каждый
(или хозяйка) вылавливают большой деревянной ложкой калитки, кладут себе на тарелку и едят.</p>

<h4>Инструкция приготовления</h4>

<p> 1 -> Очистите и отварите картофель, разомните в пюре, добавьте слегка разболтанное яйцо, растопленное масло, от души
посолите, размешайте и оставьте в сторону остывать.</p>

<p> 2 -> Тем временем, смешайте в стакане молоко и сметану: отличительной особенностью калиток является то, что тесто для них,
как правило, делают не на воде, а на кисломолочных продуктах — простокваше, кефире или сметане, как в этом рецепте.
Просейте муку , добавьте немного соли и постепенно добавляйте смесь молока и сметаны, перемешивая. Наша цель — добавить
столько сметаны и молока, сколько возьмет мука, получив эластичное, податливое тесто. Замесите тесто, заверните в пленку
и дайте ему «отдохнуть» минут 20–30. </p>

<p> 3 -> Сформируйте из теста колбаску и, отрезая от нее по кусочку размером с грецкий орех, раскатайте их на посыпанной мукой
поверхность в круглые сканцы толщиной 1–1,5 мм. Уложите на середину каждого сканца 2.столовые ложки начинки, с двух
сторон подвернув края сканца к середине, защипайте их с интервалом около 1 см. </p>

<p> 4 -> Положите калитки на смазанный маслом противень и выпекайте 20 минут при температуре 200 градусов. </p>



<h2 id="section2">Шарлотка</h2>
<p>Шарлотка - всеми любимый и очень популярный десерт. Его рецептура была придумана много столетий назад. Однако за долгие
годы существования она неоднократно менялась. Поэтому увлекательная история происхождения шарлотки заслуживает
отдельного внимания.

<br> <br>

«Charlotte» принято считать блюдом английской кухни, так как когда-то этот десерт придумали местные крестьяне в знак
признательности, для самой жены Георга III королевы Шарлоты, к которым она была весьма добра. Также упоминания о
«шарлотт» встречаются в старых кулинарных книгах второй половины 18 века. Десерт представлял собой некую разновидность
хлебного пудинга (рецепт классического хлебного пудинга от С.Пудовъ) и был весьма незамысловат, потому что не нуждался в
дополнительной кулинарной обработке.

<br> <br>

Небольшие кусочки хлеба вымачивали в яблочном, грушевом или абрикосовом сиропе и раскладывали слоями, между которыми
помещали начинку из яблок. Технология приготовления поразительно напоминает всем нам известный тирамису тем, что десерт
не выпекался, а просто охлаждался. И может быть, шарлотка является ранней версией самого любимого лакомства итальянцев.

<br> <br>

За несколько веков рецепт несколько изменился и на данный момент представляет собой бисквитный пирог с начинкой из
яблок. Сейчас многие домохозяйки пекут домашнюю шарлотку по своим любимым, не всегда простым рецептам, но с
приготовлением доступно справиться и новичку, например, используя готовую мучную смесь «Шарлотка», когда от Вас
останется только порезать яблоки.

<br> <br>

В словаре английского языка 1796 года Оксфордского университета заявлено, что шарлотт - это «пудинг, для изготовления
которого используются бисквитное печенье или кусочки бисквитного печенья, приготовленные в специальной форме. Может быть
сырым или запеченным. Самый известный из запеченных - яблочный».
Как мы раннее упоминали, изначально шарлотка была разновидностью хлебного пудинга, но через пару десятилетий французские
кулинары внесли ощутимые изменения в рецептуру приготовления, чему есть исторические доказательства.</p>


{% endblock %}