{% extends 'myapp/base.html' %}
{% load static %}

{% block content %}
<h1>Добро пожаловать на мой второй веб-сервер!</h1>
<p>Первый с гордостью пишу на Ruby on Rails.</p>


<!-- Раздел "Я и моя образовательная программа" -->
<h1>Я и моя образовательная программа</h1>

<!-- Информация о себе -->
<div>
    <h2>О себе</h2>
    <img src="{{ 'myapp/images/my_photo.jpg' }}" alt="Мое фото" width="150">
    <p><strong>ФИО:</strong> {{ my_data.name }}</p>
    <p><strong>Электронная почта:</strong> {{ my_data.email }}</p>
    <p><strong>Телефон:</strong> {{ my_data.phone }}</p>
</div>

<!-- Информация о программе -->
<div>
    <h2>Образовательная программа</h2>
    <p><strong>Название:</strong> {{ program_data.title }}</p>
    <p><strong>Описание:</strong> {{ program_data.description }}</p>
</div>

<!-- Информация о руководителе -->
<div>
    <h2>Руководитель программы</h2>
    <img src="{{ 'myapp/images/my_photo.jpg' }}" alt="Фото руководителя" width="150">
    <p><strong>ФИО:</strong> {{ supervisor_data.name }}</p>
    <p><strong>Электронная почта:</strong> {{ supervisor_data.email }}</p>
</div>

<!-- Информация о менеджере -->
<div>
    <h2>Менеджер программы</h2>
    <img src="{{ 'myapp/images/my_photo.jpg' }}" alt="Фото менеджера" width="150">
    <p><strong>ФИО:</strong> {{ manager_data.name }}</p>
    <p><strong>Электронная почта:</strong> {{ manager_data.email }}</p>
</div>

<!-- Раздел "Мои сокурсники" -->
<h1>Мои сокурсники</h1>
{% for classmate in classmates_data %}
<div>
    <h2>{{ classmate.name }}</h2>
    <img src="{{ 'myapp/images/my_photo.jpg' }}" alt="Фото сокурсника" width="150">
    <p><strong>Электронная почта:</strong> {{ classmate.email }}</p>
    <p><strong>Телефон:</strong> {{ classmate.phone }}</p>
</div>
{% endfor %}
{% endblock %}